/*body {*/
/*    background: purple;*/
/*}*/

.thumbnail img {
    width: 100%
}
.thumbnail {
    padding: 0
}
.delete {
    display: inline
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#login-back {
    float: right;
}

#back_button {
    float: right;
    margin-right: 10px;
}