<% include ../partials/header %>

<div class="container">
    <header class = "jumbotron">
        <div class="container">
            <h1><i class="fas fa-tree"></i> Welcome to ParkBook!</h1>
            <p>View our hand-picked parks from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/parks/new">Add New Park</a>
            </p>
        </div>
    </header>

    <div class='row'>
        <div class='col-lg-12'>
            <h3>Our Most Popular Parks</h3>
        </div>
    </div>

    <div class='row text-center' style='display:flex; flex-wrap: wrap;'>
        <% parks.forEach(function(park) { %>
            <div class='col-md-3 col-sm-6'>
                <div class='thumbnail'>
                    <a href="/parks/<%= park._id %>">
                        <img src = "<%=park.img %>"></img>
                    </a>
                    <div class='caption'>
                        <h4><%= park.name %> </h4>
                    </div>
                    <p>
                        <a class="btn btn-primary btn-md" href="/parks/<%= park._id %>">More info</a>
                    </p>
                </div>
                
            </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>